<div class="medium-9 small-12 column" id="left-col">

{{#events}}
    {{#with attributes}}
    <div class="small-12 medium-6 column end">
        <div class="a-card">
            <div class="v-align">
                <img src="{{eventImage}}" alt="Picture of {{title}}"/>
            </div>
            <h3>{{title}}</h3>

            <div class="text-right">
                <a href="#view/{{id}}" class="button">View More</a>
            </div>

            <button class="close-button" type="button" data-shared="{{id}}">
                <span aria-hidden="true"><img src="/img/share.png" width="24"/></span>
            </button>
        </div>


    </div>
    {{/with}}
{{/events}}
</div>

<div class="medium-3 small-12 column"  id="right-col">
    <div class="right">
        <a href="#add" class="button">Add Event</a>
    </div>
    <h3>Featured Events</h3>
{{#features}}
    {{#with attributes}}
    <ul class="menu vertical">
        <li><a href="#view/{{id}}">{{title}}</a></li>
    </ul>
    {{/with}}
{{else}}
No hay eventos
{{/features}}
</div>
